<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/">Rahim Gujjar</a>
    <nav class="site-nav">
      <a href="https://rahimgujjar.github.io/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
      <a href="https://rahimgujjar.github.io/research/" class="{% if page.url == '/research/' %}active{% endif %}">Research Articles</a>
      <a href="https://rahimgujjar.github.io/projects/" class="{% if page.url == '/projects/' %}active{% endif %}">Projects</a>
      <a href="https://rahimgujjar.github.io/about/" class="{% if page.url == '/about/' %}active{% endif %}">About</a>
    </nav>
    </nav>
    <div class="header-actions">
      <div class="theme-container">
        <!-- Added title attribute for the hover description -->
        <button class="theme-toggle" id="theme-toggle" aria-label="Toggle theme" title="Switch Theme">
          <span id="theme-icon">☾</span>
        </button>
        <span class="theme-label">Theme : <span id="theme-status">Light</span></span>
      </div>
    </div>
  </div>
</header>
